@page "/updatedetail/{blogpostid}"
@using EmrysSerenShared

<h1>@BlogPostDetail.BlogPostTitle</h1>
<br />
<div class="subHeader">
    <h2>Updates</h2>
</div>
<br>
<div class="updatePage">
    <div class="updateBox">
        <section class="updateHeader">
            <h3 class="h3sub">@BlogPostDetail.BlogPostTitle</h3>
        </section>
        <section class="updateTime">
            <h6>Posted at @BlogPostDetail.BlogPostTime @BlogPostDetail.BlogPostDate</h6>
        </section>
        <section class="updateTags">
            <p class="tags"></p>
        </section>
        <section class="updateBody">
            <article class="updatePost">
                @BlogPostDetail.BlogPostBody
            </article>
        </section>
        <section class="updateComments">
            <p>@CommentPost.CommentPostDate @CommentPost.CommentPostTime</p>
            <p>@CommentPost.CommentPostBody</p>
        </section>
    </div>
</div>

@code {

    [Parameter]
    public string BlogPostId { get; set; }

    public BlogPostDetail BlogPostDetail { get; set; } = new BlogPostDetail();

    public CommentPost CommentPost { get; set; } = new CommentPost();
    /*
    protected override Task OnInitializedAsync()
    {
        BlogPostDetail = BlogPostDetails.FirstOrDefault(b => b.BlogPostDetailId == int.Parse(BlogPostDetailId));

        return base.OnInitializedAsync();
    }
    */
    public IEnumerable<BlogPostDetail> BlogPostDetails { get; set; }

}
